<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>A mumpitz blog.</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="includes/bootstrap.css" rel="stylesheet">
    <link href="includes/custom.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="#">HorstMumpitz</a>
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About me</a></li>
            <li><a href="#contact">Contact</a></li>            
          </ul>
                    <form class="pull-left" action>
		        <input placeholder="search" type="text" />  
	        </form>

        </div>
      </div>
    </div>

    <div class="container">            
      <div class="row">
        <div class="page-header">
          <h1>A Mumpitz Life</h1>
        </div>
        <div class="span16">
          <div>
            <h2>Heading</h2>        
            <p><small>15. Januar</small></p>
            <p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis 
            vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
            <p><a class="btn small" href="#">read more &raquo;</a></p>         
          </div>
          <div class="spacer"></div>
          <div>
            <h2>Heading</h2>
              <p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis 
              vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
              <p><a class="btn small" href="#">read more &raquo;</a></p>         
          </div>
          <div class="spacer"></div>
          <div>
            <h2>Heading</h2>
              <p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis 
              vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
              <p><a class="btn small" href="#">read more &raquo;</a></p>         
          </div>
          <div class="spacer"></div>
          <div>
            <h2>Heading</h2>
              <p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis 
              vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
              <p><a class="btn small" href="#">read more &raquo;</a></p>         
          </div>
        <div class="pagination pull-right">
        <ul>
          <li class="prev disabled"><a href="#">&larr; Previous</a></li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li class="next"><a href="#">Next &rarr;</a></li>
        </ul>
      </div>
      </div>
    </div>

    <footer>
      <p>&copy; HorstMumpitz 2012</p>
    </footer>    

  </body>
</html>
